body{
    background-image: url('graphics/night.jpg');
}

h1{
    position: absolute; left: 640px; top: -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: Bold;
    font-size: 120px;
    color: white;
}

h2{
    position: absolute; left: 525px; top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}

h3{
    position: absolute; left: 170px; top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    background-color: silver;
    border-style: inset;
    border-width: 6px;
}

h4{
    position: absolute; left: 165px; top: 375px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    background-color: silver;
    border-style: inset;
    border-width: 6px;
}

h5{
    position: absolute; right: 130px; top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    background-color: silver;
    border-style: inset;
    border-width: 6px;
}

h6{
    position: absolute; right: 145px; top: 340px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    background-color: silver;
    border-style: inset;
    border-width: 6px;
}

.portrait-img{
    position: absolute; 
    left: 570px; 
    top: 210px;
    height: 452px;
    width: 402px;
}

.history-img{
    position: absolute; 
    left: 140px; 
    top: 100px;
    height: 200px;
    width: 200px;
}

.species-img{
    position: absolute; 
    left: 140px; 
    top: 500px;
    height: 200px;
    width: 200px;
}

.life-img{
    position: absolute; 
    right: 140px; 
    top: 100px;
    height: 200px;
    width: 200px;
}

.fun-img{
    position: absolute; 
    right: 140px; 
    top: 500px;
    height: 200px;
    width: 200px;
}

p{
    position: absolute; left: 590px; top: 630px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}